<p id="notice"><%= notice %></p>

<h1>Calendars</h1>
<div class="btn-group">
  <%= link_to 'New Calendar', new_calendar_path, :class => "btn btn-primary" %> 
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3">Name</div>
      <div class="col-md-2"></div>
      <div class="col-md-3"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="panel-body">
    <% @calendars.each do |calendar| %>
      <div class="row">
        <div class="col-md-3"><%= calendar.name %></div>
        <div class="col-md-2"><%= link_to 'Show Calendar', calendar %></div>
        <div class="col-md-3"><%= link_to 'View Employees', employees_path(calendar_id: calendar.id) %></div>
        <div class="col-md-2"><%= link_to 'Rename', edit_calendar_path(calendar) %></div>
        <div class="col-md-2"><%= link_to 'Delete', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>

<br>

