

<script>

  $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
      // put your options and callbacks here
      defaultView: "agendaWeek",
      events: "/shifts.json?calendar_id=<%=@calendar.id%>",
      timeFormat: 'h:mm a',
      height: "auto",
    });

  });

</script>

<p id="notice"><%= notice %></p>

<h1><%= @calendar.name %> Shifts</h1>

<div class="btn group">
  <%= link_to 'New Shift', new_shift_path(calendar_id: @calendar.id), :class => "btn btn-primary" %> 
  <%= link_to 'Employees', employees_path(calendar_id: @calendar.id), :class => "btn btn-outline-secondary" %> |
  <%= link_to 'Change Calendar Name', edit_calendar_path(@calendar), :class => "btn btn-outline-secondary" %> |
  <%= link_to 'Back', calendars_path, :class => "btn btn-outline-secondary" %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">Title</div>
      <div class="col-xs-4">Days of Week</div>
      <div class="col-xs-1">Start Time</div>
      <div class="col-xs-1">End Time</div>
      <div class="col-xs-3"></div>
    </div>
  </div>
  <div class="panel-body">
    <% @calendar.shifts.each do |shift| %>
      <div class="row">
        <div class="col-xs-3"><%= shift.title %></div>
        <div class="col-xs-4"><%= shift.get_weekdays_as_string %></div>
        <div class="col-xs-1"><%= Shift.format_time_ampm(shift.start_time) %></div>
        <div class="col-xs-1"><%= Shift.format_time_ampm(shift.end_time) %></div>
        <div class="col-xs-1"><%= link_to 'Show', shift %></div>
        <div class="col-xs-1"><%= link_to 'Edit', edit_shift_path(shift) %></div>
        <div class="col-xs-1"><%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
</div>


<br>

<br>

<div id="calendar"></div>

