<!DOCTYPE html>
<html>
  <head>
    <title>ShiftAssigner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    <%= render 'layouts/navbar_form' %>
  <% else %>
    <%= render 'layouts/navbar_signin' %>
  <% end %>

  <div class="container">
  	<body>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    	<%= yield %>
  	</body>
  </div>
</html>
